@import '../font';
@media all and(min-width: 0) {
    .all-contact {
        .title-contact {
            display: flex;
            align-items: center;
            p {
                color: #607089;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 400;
            }
            b {
                color: #607089;
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 600;
            }
        }
        .box-contact {
            padding: 18px 7px;
            border-radius: 12px;
            background-color: #fff;
            .infomation {
                h1 {
                    text-transform: uppercase;
                    color: #232323;
                    font-family: 'Montserrat';
                    font-size: 16px;
                    font-weight: 600;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        display: flex;
                        align-items: baseline;
                        img {
                            margin-right: 10px;
                        }
                        div {
                            p {
                                color: #131313;
                                font-family: 'Montserrat';
                                font-size: 16px;
                                font-weight: 400;
                                span {
                                    color: #0FCBFF;
                                }
                            }
                        }
                        p {
                            color: #131313;
                            font-family: 'Montserrat';
                            font-size: 16px;
                            font-weight: 400;
                        }
                    }
                }
            }
            .form-contact {
                h1 {
                    text-transform: uppercase;
                    color: #232323;
                    font-family: 'Montserrat';
                    font-size: 16px;
                    font-weight: 600;
                }
                p {
                    color: #131313;
                    font-family: 'Montserrat';
                    font-size: 16px;
                    font-weight: 400;
                }
                form {
                    .row-input {
                        display: flex;
                        justify-content: space-between;
                        .form-input {
                            width: calc(50% - 10px);
                            p {
                                margin: 15px 0 0 0;
                                color: #232323;
                                font-family: 'Montserrat';
                                font-size: 16px;
                                font-weight: 600;
                            }
                            input[type="text"] {
                                margin-top: 10px;
                                border-radius: 4px;
                                border: 2px solid #ebeced;
                                height: 30px;
                                font-family: 'Montserrat';
                                font-size: 16px;
                                font-weight: 400;
                                outline: none;
                            }
                        }
                    }
                    .form-input {
                        p {
                            margin: 15px 0 0 0;
                            color: #232323;
                            font-family: 'Montserrat';
                            font-size: 16px;
                            font-weight: 600;
                        }
                        input[type="text"] {
                            margin-top: 10px;
                            width: 100%;
                            border-radius: 4px;
                            border: 2px solid #ebeced;
                            height: 30px;
                            font-family: 'Montserrat';
                            font-size: 16px;
                            font-weight: 400;
                            outline: none;
                        }
                        .content-form {
                            margin-top: 10px;
                            width: 100%;
                            border-radius: 4px;
                            border: 2px solid #ebeced;
                            height: 30px;
                            font-family: 'Montserrat';
                            font-size: 16px;
                            font-weight: 400;
                            outline: none;
                            height: 174px;
                            resize: none;
                        }
                    }
                    .contact-btn {
                        cursor: pointer;
                        margin-top: 15px;
                        margin-bottom: 18px;
                        width: 162px;
                        color: #fff;
                        background-color: #0FCBFF;
                        text-align: center;
                        border-radius: 16px;
                        border: none;
                        outline: none;
                        height: 37px;
                        font-family: 'Montserrat';
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media all and(min-width: 521px) {
    .all-contact {
        .title-contact {
            margin-top: 70px;
        }
    }
}

@media all and(min-width: 1201px) {
    .all-contact {
        width: 1110px;
        margin: 0 auto;
        .box-contact {
            padding-left: 21px;
            display: flex;
            justify-content: space-around;
            .form-contact {
                padding-right: 8px;
                h1 {
                    text-transform: uppercase;
                    color: #232323;
                    font-family: 'Montserrat';
                    font-size: 16px;
                    font-weight: 600;
                }
                p {
                    color: #131313;
                    font-family: 'Montserrat';
                    font-size: 16px;
                    font-weight: 400;
                }
                form {
                    .row-input {
                        display: flex;
                        justify-content: space-between;
                        .form-input {
                            p {
                                margin: 15px 0 0 0;
                                color: #232323;
                                font-family: 'Montserrat';
                                font-size: 16px;
                                font-weight: 600;
                            }
                        }
                        #email {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
    }
}