@media all and (min-width: 0) {
    .all-wp-footer {
        background-image: url('../image/bg-footer.jpg');
        background-size: 100% auto;
        .box-footer {
            background-color: rgba(0, 0, 0, 0.8);
            padding: 10px;
            color: #fff;
            .column-first,
            .column-second,
            .column-third {
                h1 {
                    font-family: 'font4';
                    line-height: normal;
                    font-size: 20px;
                }
                ul {
                    list-style: none;
                    li {
                        p {}
                    }
                }
            }
        }
    }
    .copy-right {
        width: 100%;
        background-color: #7e7e7e;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-family: sans-serif;
        font-weight: bold;
        font-style: initial;
    }
}

@media all and (min-width: 521px) {
    .all-wp-footer {
        width: 480px;
        margin: 0 auto;
        .box-footer {
            padding: 10px;
            .column-first,
            .column-second,
            .column-third {
                h1 {
                    font-family: 'font4';
                    line-height: normal;
                    font-size: 25px;
                }
                ul {
                    li {
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .copy-right {
        width: 480px;
        margin: 0 auto;
        background-color: #7e7e7e;
        display: flex;
        font-size: 20px;
    }
}

@media all and (min-width: 1201px) {
    .all-wp-footer {
        width: calc(100% - 100px);
        .box-footer {
            display: flex;
            padding: 30px;
            .column-first,
            .column-second,
            .column-third {
                width: 30%;
                h1 {
                    font-size: 30px;
                }
                ul {
                    li {
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
            .column-first {
                width: 40%;
            }
        }
    }
    .copy-right {
        width: calc(100% - 100px);
        font-size: 15px;
    }
}