@media all and (min-width: 0) {
    .all-wp-footer {
        .box-footer {
            padding: 10px;
            color: #000;
            .column-first,
            .column-second,
            .column-third,
            .column-last {
                ul {
                    width: 100px;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                }
                .contact-ft {
                    p {
                        text-align: unset;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 521px) {
    .all-wp-footer {
        width: 480px;
        margin: 0 auto;
        .box-footer {}
    }
}

@media all and (min-width: 1201px) {
    .all-wp-footer {
        width: calc(100% - 100px);
        .box-footer {
            display: flex;
            padding: 30px;
            .column-first,
            .column-second,
            .column-third,
            .column-last {
                width: 25%;
                img {
                    display: block;
                    margin: auto;
                }
                p {
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px;
                    text-align: center;
                    &.sub-title {
                        width: 200px;
                        margin: auto;
                        padding-top: 16px;
                    }
                }
                ul {
                    margin: auto;
                    li {
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}