@import 'owl';
@import "font";
@media all and (min-width: 0) {
    header {
        background-color: #ffffff;
        width: 100%;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        position: fixed;
        z-index: 9;
        top: 0;
        padding-left: 0;
        padding-right: 0;
        .bar-header {
            display: flex;
            align-items: center;
            justify-content: space-around;
            .head-right {
                .img-first,
                .logout,
                .user_login {
                    margin-right: 12px;
                }
            }
            .head-right {
                display: none;
            }
            .head-left,
            .head-center,
            .head-search {
                position: relative;
                cursor: pointer;
                input {
                    position: relative;
                    padding: 5px;
                    border: none;
                    outline: none;
                    font-size: 14px;
                    border-radius: 24px;
                    font-style: normal;
                    line-height: 23px;
                    color: #000000;
                    background-color: #F5F5F5;
                    border-radius: 8px;
                }
                .btn-search {
                    position: absolute;
                    top: 5px;
                    right: 0;
                }
            }
        }
        .nav-desk {
            display: none;
        }
    }
    .nav-mobile {
        margin-left: -100%;
        top: 0;
        left: 0;
        position: fixed;
        width: 100%;
        z-index: 10;
        height: 100%;
        background: #a78260;
        margin-bottom: 57px;
        transition: all .2s;
        ul {
            position: absolute;
            background: #fff;
            width: calc(100% - 150px);
            height: 100%;
            list-style: none;
            padding: 29px 50px 0 15px;
            li {
                margin-top: 15px;
                padding-bottom: 27px;
                &:last-child {
                    padding-bottom: 0;
                }
                a {
                    text-decoration: none;
                    font-family: 'Montserrat';
                    font-size: 14px;
                    font-weight: 500;
                    color: #000000;
                }
                 :hover {
                    color: #0FCBFF;
                }
            }
        }
        .close-nav {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            z-index: 10;
            width: 150px;
            cursor: pointer;
        }
    }
}

@media all and (min-width: 521px) {
    header {
        left: 0;
        right: 0;
        width: 480px;
        margin: auto;
    }
    .nav-mobile {
        width: 480px;
        left: -100%;
    }
}

@media all and (min-width: 1201px) {
    header {
        background: #fff;
        width: 100%;
        .bar-header {
            width: 1155px;
            margin: 0 auto;
            .head-left {
                width: 10%;
                display: none;
            }
            .head-right {
                width: 38%;
                display: block;
                ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    .line-crack {
                        background-color: #D9D9D9;
                        width: 1px;
                        height: 30px;
                        margin: 0 15px 0 20px;
                    }
                    li {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        div {
                            img {
                                margin-right: 14px;
                            }
                            p {
                                font-family: 'Montserrat';
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 20px;
                                margin: 0;
                                &.trademark {
                                    color: #0FCBFF;
                                }
                            }
                        }
                    }
                }
            }
            .head-search {
                width: 52%;
                display: block;
                margin-left: 50px;
                input {
                    width: 100%;
                    position: relative;
                    font-weight: 400;
                    line-height: 23px;
                }
                .btn-search {
                    position: absolute;
                    top: 7px;
                    right: 0;
                }
            }
        }
        .nav-desk {
            display: block;
            ul {
                padding: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                li {
                    margin-right: 36px;
                    a {
                        font-family: 'Montserrat';
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 19.5px;
                        color: #607089;
                        text-decoration: none;
                    }
                     :hover {
                        color: #0FCBFF;
                    }
                }
                li:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .nav-mobile {
        display: none;
    }
}